Courses.20483.UI/Connected Services/ProductServices/ProductService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://course20483.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://course20483.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://course20483.com/Imports">
      <xsd:import schemaLocation="http://course20483service.azurewebsites.net/ProductService.svc?xsd=xsd0" namespace="http://course20483.com" />
      <xsd:import schemaLocation="http://course20483service.azurewebsites.net/ProductService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://course20483service.azurewebsites.net/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Courses._20483.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductService_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_CreateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProduct" />
  </wsdl:message>
  <wsdl:message name="IProductService_CreateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductService">
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://course20483.com/IProductService/GetCategories" message="tns:IProductService_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://course20483.com/IProductService/GetCategoriesResponse" message="tns:IProductService_GetCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProduct">
      <wsdl:input wsaw:Action="http://course20483.com/IProductService/CreateProduct" message="tns:IProductService_CreateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://course20483.com/IProductService/CreateProductResponse" message="tns:IProductService_CreateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://course20483.com/IProductService/GetProducts" message="tns:IProductService_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://course20483.com/IProductService/GetProductsResponse" message="tns:IProductService_GetProducts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>